

/* why choose us? */

.why-container{

    padding-bottom: 100px;
    background-image: url("assets/images/w2.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: absolute; */
   
  }
  .why-heading{
  
    padding-top:50px ;
  }
 





    .flip-card {
      background-color: transparent;
      width: 300px;
      height: 170px;
      perspective: 1000px;
      border:3px solid white;
    }
    
    .flip-card-inner {
      position: relative;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    
    .flip-card:hover .flip-card-inner {
      transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    
    .flip-card-front {
      background-color: transparent;
      color: white;
      margin-top:60px;
    }
    
    .flip-card-back {
      padding:15px;
      background-color: transparent;
      color: white;
      transform: rotateY(180deg);
    }
    



